@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lato:wght@100;300;400;700;900&family=Poppins:wght@200;400;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.navbar {
  @apply fixed top-0 left-0 w-full bg-white shadow-md z-20;
}
.navbar__wrapper {
  @apply max-w-5xl px-4 py-4 lg:py-8 mx-auto flex justify-between items-center;
}
.navbar__wrapper .navbar__logo p {
  @apply text-base lg:text-xl flex flex-col sm:flex-row items-start sm:items-center gap-0 sm:gap-2 -z-10;
}
.navbar__wrapper .navbar__logo p span {
  @apply text-sm font-extralight;
}
.navbar__wrapper .navbar__logo p span:nth-of-type(1) {
  @apply hidden sm:block;
}
.navbar__wrapper .navbar__hamburger-button {
  @apply w-8 h-7 relative lg:hidden z-10;
}
.navbar__wrapper .navbar__hamburger-button div {
  @apply w-full h-1 absolute left-0 bg-blue-500 transition-all rounded-full duration-300;
}
.navbar__wrapper .navbar__hamburger-button div:nth-of-type(1) {
  @apply top-0 translate-y-0;
}
.navbar__wrapper .navbar__hamburger-button div:nth-of-type(2) {
  @apply top-1/2 -translate-y-1/2;
}
.navbar__wrapper .navbar__hamburger-button div:nth-of-type(3) {
  @apply top-full -translate-y-full;
}
.navbar__wrapper .navbar__hamburger-button.active div:nth-of-type(1) {
  @apply top-1/2 -translate-y-1/2 rotate-45;
}
.navbar__wrapper .navbar__hamburger-button.active div:nth-of-type(2) {
  @apply top-1/2 -translate-y-1/2 opacity-0;
}
.navbar__wrapper .navbar__hamburger-button.active div:nth-of-type(3) {
  @apply top-1/2 -translate-y-1/2 -rotate-45;
}
.navbar__wrapper .navbar__links {
  @apply flex flex-col lg:flex-row justify-center items-center gap-4 fixed lg:static top-0 right-0 translate-x-full lg:translate-x-0 bg-white -z-10 lg:z-0 pt-20 lg:pt-0 pr-4 lg:pr-0 pb-8 lg:pb-0 pl-8 lg:pl-0 shadow-md lg:shadow-none transition-all duration-300;
}
.navbar__wrapper .navbar__links.active {
  @apply translate-x-0;
}
.navbar__wrapper .navbar__links li {
  @apply text-base lg:font-extralight;
}
.navbar__wrapper .navbar__links li a {
  @apply transition-colors;
}
.navbar__wrapper .navbar__links li a:hover {
  @apply text-blue-500;
}

.hero {
  @apply relative;
}
.hero::after {
  @apply absolute top-0 left-0 w-full lg:w-2/5 block content-[""] bg-[#e6dace] h-1/2 lg:h-full;
}
.hero__wrapper {
  @apply max-w-4xl mx-auto px-4 py-4 lg:py-32 grid lg:grid-cols-2 grid-cols-1 gap-4 lg:gap-8 relative z-10;
}
.hero__wrapper .hero__card {
  @apply bg-[#f4ece6] flex flex-col justify-center items-center h-full shadow-md;
}
.hero__wrapper .hero__card div {
  @apply flex flex-col justify-center items-center py-4 px-4 lg:px-8 h-full w-full;
}
.hero__wrapper .hero__card div img {
  @apply max-w-[256px] max-h-[256px] w-full h-full rounded-full mb-8;
}
.hero__wrapper .hero__card div p.name {
  @apply text-xl lg:text-2xl font-semibold mb-8 text-center relative;
}
.hero__wrapper .hero__card div p.name::after {
  @apply w-full h-[3px] block content-[""] bg-blue-500 absolute top-full translate-y-2;
}
.hero__wrapper .hero__card div p.text {
  @apply text-sm lg:text-base tracking-widest text-center;
}
.hero__wrapper .hero__card ul {
  @apply flex justify-center items-center gap-4 bg-white w-full p-2;
}
.hero__wrapper .hero__card ul li a {
  @apply text-xl transition-colors;
}
.hero__wrapper .hero__card ul li a:hover {
  @apply text-blue-500;
}
.hero__wrapper .hero__content {
  @apply flex flex-col justify-center items-start gap-4 lg:gap-8 py-4 lg:py-8;
}
.hero__wrapper .hero__content h1 {
  @apply text-4xl lg:text-8xl font-semibold;
}
.hero__wrapper .hero__content h2 {
  @apply text-xl lg:text-2xl;
}
.hero__wrapper .hero__content ul {
  @apply flex justify-center items-center gap-2;
}
.hero__wrapper .hero__content p {
  @apply text-sm lg:text-base tracking-wide;
}

.section {
  @apply py-8 lg:py-16;
}
.section:nth-of-type(odd) {
  @apply bg-stone-50;
}
.section__wrapper {
  @apply max-w-5xl mx-auto px-4;
}
.section__wrapper h2 {
  @apply text-xl lg:text-2xl mb-8;
}
.section__wrapper .windows {
  @apply grid grid-cols-2 sm:grid-cols-3 grid-rows-3 gap-4 sm:h-[478px] md:h-[640px] lg:h-[768px];
}
.section__wrapper .windows div {
  @apply w-full sm:h-auto relative shadow-md transition-transform duration-300;
}
.section__wrapper .windows div:hover {
  @apply scale-105;
}
.section__wrapper .windows div img {
  @apply object-cover w-full h-full;
}
.section__wrapper .windows div a {
  @apply absolute w-full h-full flex flex-col justify-center items-center gap-0 sm:gap-2 p-1 sm:p-4 bg-[#e6dace90] opacity-0 transition-opacity duration-300;
}
.section__wrapper .windows div a:hover {
  @apply opacity-100;
}
.section__wrapper .windows div a p.title {
  @apply text-xs lg:text-base text-center font-semibold;
}
.section__wrapper .windows div a p.description {
  @apply text-xs lg:text-sm text-center;
}
@media (min-width: 640px) {
  .section__wrapper .windows .div1 {
    grid-area: 1/1/2/3;
  }
  .section__wrapper .windows .div2 {
    grid-area: 2/1/4/2;
  }
  .section__wrapper .windows .div3 {
    grid-area: 2/2/3/3;
  }
  .section__wrapper .windows .div4 {
    grid-area: 3/2/4/3;
  }
  .section__wrapper .windows .div5 {
    grid-area: 1/3/4/4;
  }
}
.section__wrapper .testimonials {
  @apply relative mx-11 mt-16 lg:mt-28 mb-14;
}
.section__wrapper .testimonials__arrow {
  @apply absolute top-1/2 -translate-y-1/2 text-xl w-10 h-10 rounded-full text-blue-500;
}
.section__wrapper .testimonials__arrow.unactive {
  @apply opacity-50;
}
.section__wrapper .testimonials__arrow.left {
  @apply right-full rotate-180 -translate-x-4;
}
.section__wrapper .testimonials__arrow.right {
  @apply left-full translate-x-4;
}
.section__wrapper .testimonials__pagination {
  @apply absolute top-full translate-y-8 left-1/2 -translate-x-1/2 flex gap-2;
}
.section__wrapper .testimonials__pagination .pagination__bullet {
  @apply w-4 h-4 bg-blue-500 bg-opacity-30 rounded-full transition-all;
}
.section__wrapper .testimonials__pagination .pagination__bullet:hover {
  @apply bg-opacity-100;
}
.section__wrapper .testimonials__pagination .pagination__bullet.active {
  @apply bg-opacity-100;
}
.section__wrapper .testimonials__cards li {
  @apply bg-[#f4ece6] bg-opacity-75 pt-20 px-4 lg:px-8 pb-12 shadow-md max-w-2xl mx-auto relative hidden;
}
.section__wrapper .testimonials__cards li.active {
  @apply block;
}
.section__wrapper .testimonials__cards li img {
  @apply w-24 h-24 rounded-full absolute top-0 -translate-y-1/2 left-1/2 -translate-x-1/2;
}
.section__wrapper .testimonials__cards li p.text {
  @apply text-sm lg:text-base text-center mb-8;
}
.section__wrapper .testimonials__cards li p.author {
  @apply text-sm tracking-widest text-center font-extralight;
}
.section__wrapper .number-grid {
  @apply flex justify-center gap-6 sm:gap-8 lg:gap-16 flex-wrap;
}
.section__wrapper .number-grid li {
  @apply w-[122px] sm:w-[192px] md:min-w-[280px];
}
.section__wrapper .number-grid li:nth-child(2) {
  @apply lg:mt-6;
}
.section__wrapper .number-grid li:nth-child(3) {
  @apply lg:mt-12;
}
.section__wrapper .number-grid li:nth-child(4) {
  @apply lg:-mt-12;
}
.section__wrapper .number-grid li:nth-child(5) {
  @apply lg:-mt-6;
}
.section__wrapper .number-grid li .number-grid__image {
  @apply w-[122px] sm:w-[192px] md:min-w-[280px] h-[122px] sm:h-[192px] md:min-h-[280px] relative mb-4 shadow-md flex justify-center items-center bg-[#f4ece6];
}
.section__wrapper .number-grid li .number-grid__image img {
  @apply object-cover rounded-lg w-16 md:w-32;
}
.section__wrapper .number-grid li .number-grid__image .number-grid__number {
  @apply absolute right-0 translate-x-2 bottom-0 translate-y-2 w-10 h-10 bg-stone-50 flex justify-center items-center rounded-lg;
}
.section__wrapper .number-grid li .number-grid__image .number-grid__number p {
  @apply w-10 md:w-12 h-10 md:h-12 absolute bg-blue-500 flex justify-center text-white items-center rounded-lg translate-y-2 translate-x-2 text-base md:text-lg shadow-md;
}
.section__wrapper .number-grid li > p {
  @apply text-base lg:text-xl w-full pr-12;
}

.footer {
  @apply bg-white;
}
.footer__wrapper {
  @apply max-w-5xl mx-auto px-4 pt-4 lg:pt-8 pb-24 flex flex-col-reverse lg:flex-row items-center lg:items-end justify-center lg:justify-between gap-4 lg:gap-8;
}
.footer__wrapper > p {
  @apply text-sm text-center lg:text-left;
}
.footer__wrapper ul {
  @apply flex flex-col lg:flex-row justify-center items-center gap-4 lg:gap-8;
}
.footer__wrapper ul li {
  @apply flex flex-col justify-center items-center gap-1;
}
.footer__wrapper ul li p.title {
  @apply text-sm font-semibold text-center;
}
.footer__wrapper ul li p.text {
  @apply text-sm text-center;
}
.footer__wrapper ul li ol {
  @apply flex justify-center items-center gap-3;
}
.footer__wrapper ul li ol li a {
  @apply text-base;
}

html {
  @apply scroll-smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: url("../../assets/topography.svg");
}

main {
  @apply pt-[76px] sm:pt-[60px] lg:pt-[90px];
}

.link {
  @apply transition-colors;
}
.link:hover {
  @apply text-blue-500;
}

.btn {
  @apply block px-6 py-1 rounded-full text-sm transition-colors border-[1px];
}
.btn__primary {
  @apply bg-blue-500 border-blue-500 text-white;
}
.btn__primary:hover {
  @apply bg-transparent text-black;
}
.btn__secondary {
  @apply border-black text-black;
}
.btn__secondary:hover {
  @apply bg-blue-500 border-blue-500 text-white;
}

.icon {
  @apply ml-6 relative;
}
.icon::after {
  @apply w-3 h-3 bg-blue-400 block content-[""] absolute right-full -translate-x-2 top-1/2 -translate-y-1/2;
}

#scroll-top {
  @apply fixed right-4 bottom-4 translate-y-20 bg-blue-500 w-16 h-16 text-2xl rounded-full shadow-md rotate-0 text-white transition-all duration-1000 z-10;
}
#scroll-top.active {
  @apply translate-y-0 -rotate-90;
}
#scroll-top:hover {
  @apply bg-white text-blue-500;
}/*# sourceMappingURL=style.css.map */